body {
  background-color: grey;
}

header, main, nav, footer {
    text-align: center;
}
main {
    
  width: 75%;
  margin: 0 auto;

}

h1 {
    font-family: Raleway, sans-serif;
    font-size: 4em;
    margin-bottom: 0px;
}

nav a {
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none;
    color: black;
}

nav a:hover {
    border-bottom: 2px;
    font-size :2em;
    text-decoration: underline;
    transition: .1s;
}

#meIMG, #txtAboutMe {
    display: inline-block;
    float: left;
}

p {
    text-align: left;
}

#txtAboutMe {
    display: inline-block;
    padding-left: 5px;
    margin-left: 5px;
}

#meIMG  {
    border-radius: 25px;
    margin-right: 2px;
}

footer {
    clear: left;
    font-size: 1.4em;
    color:white;

}

#currentPage {
    color: black;
    font-weight: bold;
}

td {
    padding-right: 10px;
    font-size:1.3em;
}

td strong {
    color: orange;
}

#table-header {
    background-color:#351a00;
}

.table-row {
    background-color: #753900;
}

.hobby {
    color: orange;
}

#content {
    width: 60%;
    margin: 0 auto;
}
