img {
    float: left;
}

#content {
    width: 40%;
    margin: 0px auto;
    
}

body {
    background-color: #d3d3d3;
}

#statName {
    
    font-weight: bolder;
}

#genderIdentifier {
    font-weight: bold;
}

h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(#333, #999);
    background: -moz-linear-gradient(#333, #999);
    background: -o-linear-gradient(#333, #999);
    background: linear-gradient(#333, #999);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 2em;
    text-decoration: underline;
}

#className {
    font-weight: bold;
    
}

#characterClass {
    padding-bottom: 15px;
}

#InfoDivider {
   font-weight: bold; 
   font-size: 1.5em;
   padding-bottom: 1px;
}