#content {
    margin: auto;
    width: 30%;
    background-color: #c3c3c3;
    border-radius: 25px;
    padding-left: 50px;
    padding-bottom: 10px;
}

h1 {
    text-align: center;
    text-decoration: underline;
    padding-left: 0px;
}

body {
    background-color: #993299;

}
